<div class="container">
        <mat-grid-list cols="1" rowHeight="100px">
                
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <h1>PAGE NOT FOUND... </h1>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <h1>I AM SORRY!</h1>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="5" >
                    <mat-icon [inline]="true" style="font-size: 500px;" >sentiment_very_dissatisfied</mat-icon>
                </mat-grid-tile>
        </mat-grid-list>
</div>