<mat-toolbar class="fixed-toolbar">
  
     
    <button mat-button [routerLink]="['/home']"  class="size-toolbar">
          <img src="../../assets/mylogo.png" height="65px" width="65px" alt="logo.png">
          <span>[asdfqwei]!</span>
     </button>

      <button mat-button [routerLink]="['/home']" class="size-toolbar">Home</button>
      <button mat-button [routerLink]="['/contact']" class="size-toolbar">Contact</button>
      <button mat-button [routerLink]="['/about']" class="size-toolbar">About</button>
      <button mat-button [routerLink]="['/invalid-url']" class="size-toolbar">_InvalidURL</button>

  <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-icon-button  matTooltip="GitHub Source!">
        <mat-icon><a href="https://github.com/Jonathan-mp/Angular6Material" target="_blank">code</a></mat-icon>
    </button>

    <button mat-icon-button [routerLink]="['/info']" >
        <mat-icon>info</mat-icon>
    </button>
</mat-toolbar>

