.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .size-toolbar{
      font-size: 25px;
  }

  .fixed-toolbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

  .button-toolbar{

    margin-left: 5px;
    margin-right: 5px;
  }