<mat-toolbar class="fixed-toolbar">
  
     
      <button mat-button class="size-toolbar">
          <img src="../../assets/mylogo.png" height="65px" width="65px" alt="logo.png">
          <span>[asdfqwei!]</span>
        </button>
      
      <button mat-button class="size-toolbar button-toolbar">show me</button>
      <button mat-button class="size-toolbar button-toolbar">what</button>
      <button mat-button class="size-toolbar button-toolbar">you</button>
      <button mat-button class="size-toolbar button-toolbar">want!</button>
      

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  
  <button><mat-icon>info</mat-icon></button>
</mat-toolbar>