/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
    margin: 0;
    padding: 0;
    color: white;
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    background-position: center;
    min-height: max-content;
    height: auto;
}


